.containerNav{
    background-color: rgba(255, 255, 255, 0.869);
    /* display: flex; */
    /* align-items: center; */

    height: 5rem;
    /* position: fixed; */
    width: 100%;
    /* z-index: 3; */
}
.logoHome{
    width: 80px;
    height: 80px;
}

.search{
    height: 2rem;
    width: 30rem;
    border: none;
    /* outline: none; */
    border-radius: 5px;
    padding: 10px;
}

.btnSearch{
    margin-left: 10px;
    width: 5rem;
    height: 2.5rem;
    gap: 1rem;
    background-color: rgb(17, 76, 95);
}
