.star-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3f3f3f;
  }
  
  .stars {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
  }
  
  .star {
    color: #3f3f3f;
    transition: color 0.3s;
    margin: 0 2px;
  }
  
  .star.selected {
    color: #ffc107;
  }
  
  .star:hover {
    color: #ffc107;
  }
  