.theRealMaxContainer {
    padding: 1%;
    max-width: 100%;
}

.mediumContainer {
    display: flex;
    max-width: 100%;
    background-color: rgb(17, 76, 95);
    color: white;  
    margin-top: 3%;
    padding: 1%;
}

.imageCont {
    background-color: rgb(238, 238, 238);
    max-width: 40%;
    margin: 2%;
    padding: 1%;
    display: flex;
    margin-left: 5%;
    justify-content: center;
}

.productImage{
    max-width: 100%;
    padding: 4%;
}

/* rgb(47, 203, 255); */
/* rgb(17, 76, 95); */

.divImage{
    max-width: 100%;
}

.allDetailsDiv {
    background-color: rgb(17, 76, 95);
    max-width: 100%;
    padding: 3%;
    margin-top: 10%;
}

.divMaxDetails {
    max-width: 100%;
}

.divBtn{
    max-width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.containerBtn{
    display: flex;
   gap: 1rem;
}

.btnSize{
    padding: 0.8rem;
    gap: 0.4rem;
    justify-content: space-between;
}

.priceh4 {
    max-width: 100%;
    color: rgb(47, 203, 255);
    background-color: rgb(238, 238, 238);
}

.theRealh4 {
    font-family: 'DMSans';
}

@font-face {
    font-family: "DMSans";
    src: url('../../utils/DMSans-VariableFont_opszwght.ttf') 
    format('truetype');
  }

  .divButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.buttonSize{
    width: 35px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSize2{
    width: 60px;
    margin: 1%;
    justify-content: center;
    align-items: center;
}

.stock {
    font-size: 22px;
    font-weight: bold;
}

.interactions{
    display: flex;
    background-color: whitesmoke;
    color: rgb(55, 104, 136);
    padding: 1rem;
    gap: 4rem;
     width: 100%;
}

.interaction{
    display: flex;
    margin-top: 1rem;
    background-color: rgba(229, 223, 223, 0.863);
    padding: 1rem;
   
}

.myQuery{
    background-color: rgba(234, 227, 227, 0.185);
    padding: 1rem;
    width: 30rem;
}


.user{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.message{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.inputName{
    width: 100%;
    height: 2.4rem;
    margin: 0.5rem 0.1rem;
}

.textQuery{
    width: 100%;
    height: 10rem;
  margin-bottom: 1.5rem;
}

.labelQuery{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.8rem;
}


.btnSend{
    background-color: rgb(22, 22, 52);
    color: aliceblue;
    padding: 0.5rem;
    margin-top: 2rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave para el efecto hover */
}

.btnSend:hover {
    background-color: #0e3e31; /* Cambio de color en el hover */
    transform: scale(1.1); /* Agrandamiento en el hover */
  }

  .user{
    background-color: rgba(0, 0, 0, 0.2);
    width: 30%;
  }

  .message{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
  }