.containerNav {
    background-color: rgba(247, 246, 246, 0.869);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0; /* Mantener el nav en la parte superior */
    right: 0;
  }
  
  .logoHome {
    width: 80px;
    height: 80px;
  }
  
  .search {
    height: 2rem;
    width: 30rem;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
  }
  
  .btnSearch {
    margin-left: 10px;
    width: 5rem;
    height: 2.5rem;
    gap: 1rem;
    background-color: rgb(57, 128, 172);
    border: solid 1.5px #1f1f1f;
    transition: background-color 0.3s ease;
  }

  .btnSearch:hover {
    background-color: rgb(71, 160, 215);
  }
  