.containerNav{
    background-color: rgba(255, 255, 255, 0.869);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 3;
}
.logoHome{
    width: 80px;
    height: 80px;
}

.search{
    height: 2rem;
    width: 30rem;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}

.btnSearch{
    margin-left: 10px;
    width: 5rem;
    height: 2.5rem;
    gap: 1rem;
    background-color: rgb(17, 76, 95);
}

.btnRefresh {
    background-color: rgb(17, 76, 95);
}

.cart-icon{
    position: relative;
}
.cart-icon-container{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.cart-popup{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.cart-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-item{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}