.containerNav{
    background-color: rgba(255, 255, 255, 0.869);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    width: 100%;
}
.logoHome{
    width: 80px;
    height: 80px;
}

.search{
    height: 2rem;
    width: 30rem;
}

.btnSearch{
    width: 6rem;
    height: 2.5rem;
    gap: 1rem;
}
