.containerNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(228, 241, 254);
    box-shadow: 0px 10px 15px 0px rgba(201, 218, 235, 0.75);
    height: 5rem;
}
.logoHome{
    width: 100px;
}

.search{
    height: 2rem;
    width: 30rem;
}

.btnSearch{
    width: 5rem;
    height: 2.5rem;
    gap: 1rem;
}