.containerFilter{
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(58, 159, 218);
    color: white;
    margin: 0 auto;
    gap: 1rem;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    padding-inline: 2rem;
}

.inputPrice {
    background-color: white;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.containerPrice{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.containerBrand {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.containerOrder{
    margin: 10px;
}

.btnPrice {
    width: 20rem;
    height: 3rem;
    gap: 1rem;
}

.btnPrice:hover {
    
}

