.spanError{
      color: red;
}

.form {
      width: 100%;
      padding: 5%;
}

.h3 {
      color: white;
}

.btnForm {
      background-color: white;
      color: rgb(17, 76, 95);
      size: 20%;
}

.allDiv {
      background-color: rgb(17, 76, 95);
      padding: 1%;
      max-width: 100%;
      display: flex;
      justify-content: center;
}

.divForm{ 
      max-width: 100%;
      height: 100%;
      background-color: red;
}

.form-control::-webkit-inner-spin-button {
      -webkit-appearance: none;
}

.divStock {
      max-width: 100%;
      display: flex;
      padding: 1%;
      background-color: green;
}

.theRealLabelDiv {
      display: flex;
      background-color: cadetblue;  
}
.divh4 {
      background-color: white;
}

.input-goup {
      width: 80%;
      margin: 5%;
      background-color: rgba(0, 255, 255, 0);
}

.input-goup::-webkit-inner-spin-button {
      -webkit-appearance: none;
      cursor: pointer;
}

.tomasSeco{
      background-color: blue;
      max-width: 70%;
      margin-top: 7%;
      display: flex;
      align-items: center;
}

.divImagenes {
      background-color: blueviolet;
      padding: 1%;
      width: 50%;
      height: 100%;
      justify-content: center;
}

.divlabelImage {
      background-color: red;
      max-width: 100%;
}

.imageButtonContainer {
      max-width: 100%;
      background-color: white;
}

.imageUploaded {
      max-width: 100%;
}

.labelImage{
      margin-top: 2%;
}

.divInputs {
      display: flex;
      flex-direction: column;
      background-color: brown;
      justify-content: flex-end;
}

.theRealDiv{
      background-color: green;
      display: flex;
      align-items: center;
      max-width: 100%;
}

.buttonStyles {
      background-color: red;
      max-width: 30%;
      padding-bottom: 5%;
}

.productImage {
      max-width: 100%;
      padding: 4%; 
}

.containerImage {
      max-width: 100%;
}


.label {
      background-color: red;
}

.maxContainerStock {
      background-color: white;
}

.stockWhite {
      background-color: white;
      max-width: 10%;
      margin-right: 2%;
      margin-left: 2%;
}

.stockBlack {
      background-color: black;
      max-width: 10%;
      margin-right: 2%;
      margin-left: 2%;
}

.stockGrey {
      background-color: grey;
      max-width: 10%;
      margin-right: 2%;
      margin-left: 2%;
}

.stockBlue {
      background-color: blue;
      max-width: 10%;
      margin-right: 2%;
      margin-left: 2%;
}